__pycache__/
*.py[cod]
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.dist-info/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.ipynb_checkpoints
nosetests.xml
coverage.xml
*.cover
*.tox/
*.nox/
*.coverage
*.hypothesis/
*.pytest_cache/
*.tar.gz
*.zip
*.swp
.DS_Store
Thumbs.db
*.json
!package.json
!package-lock.json
*.h5
*.pickle
*.pth
*.ckpt
*.log
logs/
!logs/.gitkeep
*.bak
*.tmp

*.gif
*.pyc
*.pt
*.aris
.pt
outputs/
dist/
dist-web/
build/
node_modules/
EchoSegWindowsDistribution/
__pycache__/
